/* SF-Pro-Display-Regular */
@font-face {
  font-family: 'SFProDisplay';
  src: url('sf-pro/SF-Pro-Display-Regular.eot');
  src: url('sf-pro/SF-Pro-Display-Regular.otf');
  src: url('sf-pro/SF-Pro-Display-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('sf-pro/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('sf-pro/SF-Pro-Display-Regular.woff') format('woff'),
    url('sf-pro/SF-Pro-Display-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* SF-Pro-Display-Medium */
@font-face {
  font-family: 'SFProDisplay';
  src: url('sf-pro/SF-Pro-Display-Medium.eot');
  src: url('sf-pro/SF-Pro-Display-Medium.otf');
  src: url('sf-pro/SF-Pro-Display-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('sf-pro/SF-Pro-Display-Medium.woff2') format('woff2'),
    url('sf-pro/SF-Pro-Display-Medium.woff') format('woff'),
    url('sf-pro/SF-Pro-Display-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

/* SF-Pro-Display-Semibold */
@font-face {
  font-family: 'SFProDisplay';
  src: url('sf-pro/SF-Pro-Display-Semibold.eot');
  src: url('sf-pro/SF-Pro-Display-Semibold.otf');
  src: url('sf-pro/SF-Pro-Display-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('sf-pro/SF-Pro-Display-Semibold.woff2') format('woff2'),
    url('sf-pro/SF-Pro-Display-Semibold.woff') format('woff'),
    url('sf-pro/SF-Pro-Display-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
/* SF-Pro-Display-Bold */
@font-face {
  font-family: 'SFProDisplay';
  src: url('sf-pro/SF-Pro-Display-Bold.eot');
  src: url('sf-pro/SF-Pro-Display-Bold.otf');
  src: url('sf-pro/SF-Pro-Display-Bold.eot?#iefix') format('embedded-opentype'),
    url('sf-pro/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('sf-pro/SF-Pro-Display-Bold.woff') format('woff'),
    url('sf-pro/SF-Pro-Display-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/* SF-Pro-Text-Regular */
@font-face {
  font-family: 'SFProText';
  src: url('sf-pro/SF-Pro-Text-Regular.eot');
  src: url('sf-pro/SF-Pro-Text-Regular.eot?#iefix') format('embedded-opentype'),
    url('sf-pro/SF-Pro-Text-Regular.woff2') format('woff2'),
    url('sf-pro/SF-Pro-Text-Regular.woff') format('woff'),
    url('sf-pro/SF-Pro-Text-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* SF-Pro-Text-Medium */
@font-face {
  font-family: 'SFProText';
  src: url('sf-pro/SF-Pro-Text-Medium.eot');
  src: url('sf-pro/SF-Pro-Text-Medium.eot?#iefix') format('embedded-opentype'),
    url('sf-pro/SF-Pro-Text-Medium.woff2') format('woff2'),
    url('sf-pro/SF-Pro-Text-Medium.woff') format('woff'),
    url('sf-pro/SF-Pro-Text-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

/* SF-Pro-text-semibold */
@font-face {
  font-family: 'SFProText';
  src: url('sf-pro/SF-Pro-Text-Semibold.eot');
  src: url('sf-pro/SF-Pro-Text-Semibold.eot?#iefix') format('embedded-opentype'),
    url('sf-pro/SF-Pro-Text-Semibold.woff2') format('woff2'),
    url('sf-pro/SF-Pro-Text-Semibold.woff') format('woff'),
    url('sf-pro/SF-Pro-Text-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
