.main-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 120%;
  max-width: 210px;
}  

.head-title {
  font-size: 28px;
  line-height: 120%;
  font-weight: 600;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

.text-gray {
  color: gray;
}